01. Soporte_App/n8n-workflows/DOA - 0 - Outlook a App _Correos Entrantes_.json
{
  "updatedAt": "2026-04-02T17:12:02.595Z",
  "createdAt": "2026-03-14T10:56:44.597Z",
  "id": "pEFW1V46yyLR58c8",
  "name": "DOA - 0 - Outlook a App (Correos Entrantes)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "output": "fields",
        "fields": [
          "subject",
          "from",
          "bodyPreview",
          "createdDateTime",
          "internetMessageId"
        ],
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "outlook_trigger",
      "name": "Outlook Trigger",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        336
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "LWbjIUOv0OUB6zRO",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "messages": {
          "values": [
            {
              "content": "Eres un clasificador de correos para una DOA aeronáutica. Analiza el asunto y el cuerpo del correo y devuelve solo JSON válido. Usa exclusivamente una de estas etiquetas para el campo clasificacion: Cliente solicita proyecto nuevo, Cliente solicita modificacion a proyecto existente, Clasificacion pendiente. Usa Cliente solicita proyecto nuevo cuando el cliente plantea una necesidad o proyecto desde cero. Usa Cliente solicita modificacion a proyecto existente cuando el cliente menciona cambios, ajustes o ampliaciones sobre un proyecto ya existente. Usa Clasificacion pendiente si el correo es ambiguo o no permite decidir con seguridad. Devuelve exclusivamente un objeto JSON con dos claves: clasificacion y razon. razon debe ser una frase corta en español de máximo 20 palabras.",
              "role": "system"
            },
            {
              "content": "=Clasifica este correo y responde solo json.\\n\\nASUNTO: {{$json.subject || ''}}\\n\\nREMITENTE: {{$json.from?.emailAddress?.address || ''}}\\n\\nCUERPO: {{$json.bodyPreview || ''}}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "clasificar_correo_ia",
      "name": "Clasificar Correo IA",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -272,
        336
      ],
      "credentials": {
        "openAiApi": {
          "id": "vAmNhoKH5n8YHlp6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "messages": {
          "values": [
            {
              "content": "Eres personal de gestion de una DOA. Redactas respuestas iniciales a clientes de forma profesional, clara y operativa. Tu objetivo es encauzar la solicitud hacia el formulario de intake del proyecto para recopilar la informacion necesaria. La URL del formulario se incluirá mas adelante. No la añadas ahora. Solo incluye donde ira el formulario la frase \"(Form intake here)\".  Esta frase tiene que ir textualemente porque luego reemplaremos. No actues como ingeniero certificador. No prometas viabilidad, aprobacion tecnica, plazos cerrados ni soluciones definitivas. Pide siempre que el cliente complete el formulario del proyecto con la informacion basica necesaria para evaluar la solicitud.  No solicites en el correo ninguna información extra. Responde siempre en el mismo idioma principal del correo del cliente.  Sigue estrictamente la instruccion operativa que recibes. Devuelve solo JSON valido con una unica clave: respuesta_ia.",
              "role": "system"
            },
            {
              "content": "=Draft the reply in the same language as the customer's email and respond only with json.\n\\n\\nCLASIFICACION CANONICA: {{$json.clasificacion_canonica}}\\n\\nINSTRUCCION OPERATIVA: \\n ASUNTO: {{$json.asunto}}\\n\\nREMITENTE: {{$json.remitente}}\\n\\nCUERPO: {{$json.cuerpo_original}}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "redactar_respuesta_ia",
      "name": "Redactar Respuesta IA",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2896,
        320
      ],
      "credentials": {
        "openAiApi": {
          "id": "vAmNhoKH5n8YHlp6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function parseAiPayload(input) {\n  const candidates = [\n    input?.message?.content,\n    input?.text,\n    input?.response,\n    input?.output,\n    input,\n  ];\n\n  for (const candidate of candidates) {\n    let parsed = null;\n    if (typeof candidate === 'string') {\n      const cleaned = candidate.replace(/```json/gi, '').replace(/```/g, '').trim();\n      try {\n        parsed = JSON.parse(cleaned);\n      } catch (error) {\n        parsed = null;\n      }\n    } else if (candidate && typeof candidate === 'object') {\n      parsed = candidate;\n    }\n\n    if (parsed && typeof parsed === 'object') {\n      return parsed;\n    }\n  }\n\n  return {};\n}\n\n// 1. Extraemos solo la respuesta de la IA\nconst draftPayload = parseAiPayload($json || {});\nconst respuesta = (draftPayload.respuesta_ia || draftPayload.borrador || draftPayload.reply || '').toString().trim();\n\n// 2. Extraemos los metadatos puros directo del trigger de Outlook para que nunca falle\nconst outlook = $('Outlook Trigger').item.json || {};\nconst clasificacionReal = $('Filtro Correo entrante').item.json['clasificacion.email'] || 'Clasificacion pendiente';\n\nreturn {\n  json: {\n    asunto: outlook.subject || '',\n    remitente: (outlook.from?.emailAddress?.address || ''),\n    cuerpo_original: outlook.bodyPreview || '',\n    clasificacion: clasificacionReal,\n    respuesta_ia: respuesta,\n  },\n};\n"
      },
      "id": "normalizar_correo",
      "name": "Normalizar Correo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3312,
        320
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": "={{ $('Outlook Trigger').item.json.id }}",
        "updateFields": {
          "isRead": true
        }
      },
      "id": "marcar_como_leido",
      "name": "Marcar Correo como Leido",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        4256,
        320
      ],
      "webhookId": "cb61a125-afac-439c-8801-8e190c73631e",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "LWbjIUOv0OUB6zRO",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fefceeed-9c02-42d2-9324-92a9535e492c",
              "name": "asunto",
              "value": "={{ $json.asunto }}",
              "type": "string"
            },
            {
              "id": "de73e6ce-06d5-4eae-9c0c-3a42d7ad1b41",
              "name": "remitente",
              "value": "={{ $json.remitente }}",
              "type": "string"
            },
            {
              "id": "eb62b735-3a8a-4efe-a3dd-9360fe1a3cf2",
              "name": "cuerpo_original",
              "value": "={{ $json.cuerpo_original }}",
              "type": "string"
            },
            {
              "id": "5388ff4d-f398-406f-8eda-84341ffbf7db",
              "name": "clasificacion",
              "value": "={{ $json.clasificacion }}",
              "type": "string"
            },
            {
              "id": "4248c572-d2e3-4fee-bb16-5f1310b933c0",
              "name": "respuesta_ia",
              "value": "={{ $json.respuesta_ia }}",
              "type": "string"
            },
            {
              "id": "d18c7edf-8504-4397-b684-a6a8b9c63e72",
              "name": "public_form_url",
              "value": "={{ $('Generar URL Formulario').item.json.public_form_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3536,
        320
      ],
      "id": "65d24d55-9585-428e-937c-46c387d7016b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content.clasificacion }}",
                    "rightValue": "Cliente solicita proyecto nuevo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d9f00dde-a3ff-42ee-9238-ec93632592f6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b65d36d8-9187-4395-b6f2-1619f9766c35",
                    "leftValue": "={{ $json.message.content.clasificacion }}",
                    "rightValue": "Cliente solicita modificacion a proyecto existente",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "778be39b-f826-4b4a-a3d4-dbac7f3b977e",
                    "leftValue": "={{ $json.message.content.clasificacion }}",
                    "rightValue": "Cliente solicita proyecto nuevo",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fde93e98-f8eb-4604-b295-e01e14cb289f",
                    "leftValue": "={{ $json.message.content.clasificacion }}",
                    "rightValue": "Cliente solicita modificacion a proyecto existente",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        112,
        304
      ],
      "id": "7f9bf21e-260c-48b3-b4cd-53c7fe47aaab",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        304
      ],
      "id": "db351e3f-e0fa-4aaf-89fc-b8367065de38",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff582b50-a25f-4ad1-ad45-3b8cf6046595",
              "name": "clasificacion.email",
              "value": "={{ $('Clasificar Correo IA').item.json.message.content.clasificacion }}",
              "type": "string"
            },
            {
              "id": "89cb6404-0bda-40d1-813f-547495434082",
              "name": "razon.email",
              "value": "={{ $('Clasificar Correo IA').item.json.message.content.razon }}",
              "type": "string"
            },
            {
              "id": "758b7f34-e31f-4c85-ad24-4c355d02f126",
              "name": "subject.email",
              "value": "={{ $('Outlook Trigger').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "ffee8e5a-d0a0-4d80-bd2b-01959090a45d",
              "name": "body.email",
              "value": "={{ $('Outlook Trigger').item.json.bodyPreview }}",
              "type": "string"
            },
            {
              "id": "253bf9a5-bb6b-463b-93a8-a0731cc63ae8",
              "name": "Email.Cliente",
              "value": "={{ $('Outlook Trigger').item.json.from.emailAddress.address }}",
              "type": "string"
            },
            {
              "id": "93ff1040-e5cd-4220-a095-0f6c0d9a0211",
              "name": "id.supabase.doa.consultas.entrantes",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        304
      ],
      "id": "9ca67f4e-1e4e-4415-a233-bd097ce259c8",
      "name": "Filtro Correo entrante"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "doa_clientes_datos_generales",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Ver si el cliente es conocido').item.json.cliente_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2176,
        48
      ],
      "id": "07f09953-8fe6-4e8e-bd74-848981346c65",
      "name": "Get a row1",
      "credentials": {
        "supabaseApi": {
          "id": "H1ZHvBDstWZ1K6KS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7649a396-dc8d-4ef7-8dc0-e30e746e51e8",
              "name": "nombre.empresa",
              "value": "={{ $json.nombre }}",
              "type": "string"
            },
            {
              "id": "b6f27331-137e-425c-a076-c2a394a8d295",
              "name": "cif_vat",
              "value": "={{ $json.cif_vat }}",
              "type": "string"
            },
            {
              "id": "d1362500-2393-40a6-944b-f25e03494bb2",
              "name": "pais",
              "value": "={{ $json.pais }}",
              "type": "string"
            },
            {
              "id": "f5f8e558-952c-4a14-8aa4-4fdbbb43e232",
              "name": "ciudad",
              "value": "={{ $json.ciudad }}",
              "type": "string"
            },
            {
              "id": "219c9afb-8110-4a75-a1a9-e3f7ed9fee39",
              "name": "direccion",
              "value": "={{ $json.direccion }}",
              "type": "string"
            },
            {
              "id": "30983dbf-0575-49af-85bb-fa01fa83ac34",
              "name": "telefono",
              "value": "={{ $json.telefono }}",
              "type": "string"
            },
            {
              "id": "e2bc889c-d6d5-454b-83e3-836941383698",
              "name": "web",
              "value": "={{ $json.web }}",
              "type": "string"
            },
            {
              "id": "bba43d22-72e4-4c18-8f7a-27a4fb66afbb",
              "name": "dominio_email",
              "value": "={{ $json.dominio_email }}",
              "type": "string"
            },
            {
              "id": "f2bd07fb-0c46-4163-a9a9-d70dba2ae683",
              "name": "tipo_cliente",
              "value": "={{ $json.tipo_cliente }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2592,
        48
      ],
      "id": "b4ee8704-ba84-4003-9786-579136cceb81",
      "name": "Datos empresa"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Ver si el cliente es conocido').item.json.email }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "06930245-33d0-42e5-bed5-a31e3ae2875c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cliente Conocido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d34d4b84-6999-4d8a-8fd6-4f3fd96ab68f",
                    "leftValue": "={{ $('Ver si el cliente es conocido').item.json.email }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cliente No Conocido"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1872,
        304
      ],
      "id": "a9d9cb2d-5f60-4acd-9b83-df383612e714",
      "name": "Switch1"
    },
    {
      "parameters": {
        "tableId": "doa_consultas_entrantes"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        304
      ],
      "id": "c2071304-699f-4a4b-8701-bf78cff8a7f6",
      "name": "Crear fila en entrantes",
      "credentials": {
        "supabaseApi": {
          "id": "H1ZHvBDstWZ1K6KS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "doa_clientes_contactos",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.Email.Cliente.trim() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1216,
        304
      ],
      "id": "b20dad45-7a54-430a-b4c8-45b03e4766d9",
      "name": "Ver si el cliente es conocido",
      "credentials": {
        "supabaseApi": {
          "id": "H1ZHvBDstWZ1K6KS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "doa_consultas_entrantes",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Filtro Correo entrante').item.json.id.supabase.doa.consultas.entrantes }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "remitente",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "asunto",
              "fieldValue": "={{ $('Filtro Correo entrante').item.json.subject.email }}"
            },
            {
              "fieldId": "cuerpo_original",
              "fieldValue": "={{ $('Filtro Correo entrante').item.json.body.email }}"
            },
            {
              "fieldId": "clasificacion",
              "fieldValue": "={{ $('Filtro Correo entrante').item.json.clasificacion.email }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "nuevo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1504,
        304
      ],
      "id": "8c8b2979-b79c-4e7f-a620-b1380dd07ccb",
      "name": "Actualizar Fila entrantes",
      "credentials": {
        "supabaseApi": {
          "id": "H1ZHvBDstWZ1K6KS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "urlgen123",
              "name": "public_form_url",
              "value": "={{ 'https://sswebhook.testn8n.com/webhook/doa-form?id=' + $('Filtro Correo entrante').first().json.id.supabase.doa.consultas.entrantes }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2368,
        320
      ],
      "id": "generador_url_unica",
      "name": "Generar URL Formulario"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "doa_consultas_entrantes",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Filtro Correo entrante').item.json.id.supabase.doa.consultas.entrantes }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "respuesta_ia",
              "fieldValue": "={{ $json.respuesta_ia }}"
            },
            {
              "fieldId": "url_formulario",
              "fieldValue": "={{ $json.public_form_url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3904,
        320
      ],
      "id": "563f5a8f-3258-44c6-a744-d6af3d993a81",
      "name": "Actualizar Fila entrantes1",
      "credentials": {
        "supabaseApi": {
          "id": "H1ZHvBDstWZ1K6KS",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Outlook Trigger": {
      "main": [
        [
          {
            "node": "Clasificar Correo IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar Correo IA": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redactar Respuesta IA": {
      "main": [
        [
          {
            "node": "Normalizar Correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Correo": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Actualizar Fila entrantes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [],
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Crear fila en entrantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Correo entrante": {
      "main": [
        [
          {
            "node": "Ver si el cliente es conocido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Datos empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos empresa": {
      "main": [
        [
          {
            "node": "Generar URL Formulario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar URL Formulario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear fila en entrantes": {
      "main": [
        [
          {
            "node": "Filtro Correo entrante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ver si el cliente es conocido": {
      "main": [
        [
          {
            "node": "Actualizar Fila entrantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Fila entrantes": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar URL Formulario": {
      "main": [
        [
          {
            "node": "Redactar Respuesta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Fila entrantes1": {
      "main": [
        [
          {
            "node": "Marcar Correo como Leido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Outlook Trigger": {
      "lastTimeChecked": "2026-04-02T14:16:24.004-03:00"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2ece719c-ca1c-4d44-93ad-52f9d8686221",
  "activeVersionId": "2ece719c-ca1c-4d44-93ad-52f9d8686221",
  "versionCounter": 450,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-14T10:56:44.597Z",
      "createdAt": "2026-03-14T10:56:44.597Z",
      "role": "workflow:owner",
      "workflowId": "pEFW1V46yyLR58c8",
      "projectId": "Xt0280WfIpw1lD6W",
      "project": {
        "updatedAt": "2025-03-27T09:22:13.302Z",
        "createdAt": "2025-03-27T09:14:41.486Z",
        "id": "Xt0280WfIpw1lD6W",
        "name": "Jesus Andres Arevalo Torres <jesus.arevalotorres@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1f2bf491-b33b-4a5b-986e-9b7841cecb8d",
        "projectRelations": [
          {
            "updatedAt": "2025-03-27T09:14:41.486Z",
            "createdAt": "2025-03-27T09:14:41.486Z",
            "userId": "1f2bf491-b33b-4a5b-986e-9b7841cecb8d",
            "projectId": "Xt0280WfIpw1lD6W",
            "user": {
              "updatedAt": "2026-04-02T10:10:16.896Z",
              "createdAt": "2025-03-27T09:14:40.894Z",
              "id": "1f2bf491-b33b-4a5b-986e-9b7841cecb8d",
              "email": "jesus.arevalotorres@gmail.com",
              "firstName": "Jesus Andres",
              "lastName": "Arevalo Torres",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-03-27T09:22:28.912Z",
                "personalization_survey_n8n_version": "1.84.1",
                "automationGoalDevops": [
                  "reporting"
                ],
                "companyType": "education",
                "role": "engineering"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "g7j5KfgJVN6xCZ4v",
                "userActivatedAt": 1751604523816,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763884915866
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-02",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-02T17:12:02.597Z",
    "createdAt": "2026-04-02T17:12:02.597Z",
    "versionId": "2ece719c-ca1c-4d44-93ad-52f9d8686221",
    "workflowId": "pEFW1V46yyLR58c8",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "output": "fields",
          "fields": [
            "subject",
            "from",
            "bodyPreview",
            "createdDateTime",
            "internetMessageId"
          ],
          "filters": {
            "readStatus": "unread"
          },
          "options": {}
        },
        "id": "outlook_trigger",
        "name": "Outlook Trigger",
        "type": "n8n-nodes-base.microsoftOutlookTrigger",
        "typeVersion": 1,
        "position": [
          -496,
          336
        ],
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "LWbjIUOv0OUB6zRO",
            "name": "Microsoft Outlook account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.2",
            "mode": "list",
            "cachedResultName": "GPT-5.2"
          },
          "messages": {
            "values": [
              {
                "content": "Eres un clasificador de correos para una DOA aeronáutica. Analiza el asunto y el cuerpo del correo y devuelve solo JSON válido. Usa exclusivamente una de estas etiquetas para el campo clasificacion: Cliente solicita proyecto nuevo, Cliente solicita modificacion a proyecto existente, Clasificacion pendiente. Usa Cliente solicita proyecto nuevo cuando el cliente plantea una necesidad o proyecto desde cero. Usa Cliente solicita modificacion a proyecto existente cuando el cliente menciona cambios, ajustes o ampliaciones sobre un proyecto ya existente. Usa Clasificacion pendiente si el correo es ambiguo o no permite decidir con seguridad. Devuelve exclusivamente un objeto JSON con dos claves: clasificacion y razon. razon debe ser una frase corta en español de máximo 20 palabras.",
                "role": "system"
              },
              {
                "content": "=Clasifica este correo y responde solo json.\\n\\nASUNTO: {{$json.subject || ''}}\\n\\nREMITENTE: {{$json.from?.emailAddress?.address || ''}}\\n\\nCUERPO: {{$json.bodyPreview || ''}}"
              }
            ]
          },
          "jsonOutput": true,
          "options": {}
        },
        "id": "clasificar_correo_ia",
        "name": "Clasificar Correo IA",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -272,
          336
        ],
        "credentials": {
          "openAiApi": {
            "id": "vAmNhoKH5n8YHlp6",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.2",
            "mode": "list",
            "cachedResultName": "GPT-5.2"
          },
          "messages": {
            "values": [
              {
                "content": "Eres personal de gestion de una DOA. Redactas respuestas iniciales a clientes de forma profesional, clara y operativa. Tu objetivo es encauzar la solicitud hacia el formulario de intake del proyecto para recopilar la informacion necesaria. La URL del formulario se incluirá mas adelante. No la añadas ahora. Solo incluye donde ira el formulario la frase \"(Form intake here)\".  Esta frase tiene que ir textualemente porque luego reemplaremos. No actues como ingeniero certificador. No prometas viabilidad, aprobacion tecnica, plazos cerrados ni soluciones definitivas. Pide siempre que el cliente complete el formulario del proyecto con la informacion basica necesaria para evaluar la solicitud.  No solicites en el correo ninguna información extra. Responde siempre en el mismo idioma principal del correo del cliente.  Sigue estrictamente la instruccion operativa que recibes. Devuelve solo JSON valido con una unica clave: respuesta_ia.",
                "role": "system"
              },
              {
                "content": "=Draft the reply in the same language as the customer's email and respond only with json.\n\\n\\nCLASIFICACION CANONICA: {{$json.clasificacion_canonica}}\\n\\nINSTRUCCION OPERATIVA: \\n ASUNTO: {{$json.asunto}}\\n\\nREMITENTE: {{$json.remitente}}\\n\\nCUERPO: {{$json.cuerpo_original}}"
              }
            ]
          },
          "jsonOutput": true,
          "options": {}
        },
        "id": "redactar_respuesta_ia",
        "name": "Redactar Respuesta IA",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          2896,
          320
        ],
        "credentials": {
          "openAiApi": {
            "id": "vAmNhoKH5n8YHlp6",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "function parseAiPayload(input) {\n  const candidates = [\n    input?.message?.content,\n    input?.text,\n    input?.response,\n    input?.output,\n    input,\n  ];\n\n  for (const candidate of candidates) {\n    let parsed = null;\n    if (typeof candidate === 'string') {\n      const cleaned = candidate.replace(/```json/gi, '').replace(/```/g, '').trim();\n      try {\n        parsed = JSON.parse(cleaned);\n      } catch (error) {\n        parsed = null;\n      }\n    } else if (candidate && typeof candidate === 'object') {\n      parsed = candidate;\n    }\n\n    if (parsed && typeof parsed === 'object') {\n      return parsed;\n    }\n  }\n\n  return {};\n}\n\n// 1. Extraemos solo la respuesta de la IA\nconst draftPayload = parseAiPayload($json || {});\nconst respuesta = (draftPayload.respuesta_ia || draftPayload.borrador || draftPayload.reply || '').toString().trim();\n\n// 2. Extraemos los metadatos puros directo del trigger de Outlook para que nunca falle\nconst outlook = $('Outlook Trigger').item.json || {};\nconst clasificacionReal = $('Filtro Correo entrante').item.json['clasificacion.email'] || 'Clasificacion pendiente';\n\nreturn {\n  json: {\n    asunto: outlook.subject || '',\n    remitente: (outlook.from?.emailAddress?.address || ''),\n    cuerpo_original: outlook.bodyPreview || '',\n    clasificacion: clasificacionReal,\n    respuesta_ia: respuesta,\n  },\n};\n"
        },
        "id": "normalizar_correo",
        "name": "Normalizar Correo",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3312,
          320
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "messageId": "={{ $('Outlook Trigger').item.json.id }}",
          "updateFields": {
            "isRead": true
          }
        },
        "id": "marcar_como_leido",
        "name": "Marcar Correo como Leido",
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          4256,
          320
        ],
        "webhookId": "cb61a125-afac-439c-8801-8e190c73631e",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "LWbjIUOv0OUB6zRO",
            "name": "Microsoft Outlook account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fefceeed-9c02-42d2-9324-92a9535e492c",
                "name": "asunto",
                "value": "={{ $json.asunto }}",
                "type": "string"
              },
              {
                "id": "de73e6ce-06d5-4eae-9c0c-3a42d7ad1b41",
                "name": "remitente",
                "value": "={{ $json.remitente }}",
                "type": "string"
              },
              {
                "id": "eb62b735-3a8a-4efe-a3dd-9360fe1a3cf2",
                "name": "cuerpo_original",
                "value": "={{ $json.cuerpo_original }}",
                "type": "string"
              },
              {
                "id": "5388ff4d-f398-406f-8eda-84341ffbf7db",
                "name": "clasificacion",
                "value": "={{ $json.clasificacion }}",
                "type": "string"
              },
              {
                "id": "4248c572-d2e3-4fee-bb16-5f1310b933c0",
                "name": "respuesta_ia",
                "value": "={{ $json.respuesta_ia }}",
                "type": "string"
              },
              {
                "id": "d18c7edf-8504-4397-b684-a6a8b9c63e72",
                "name": "public_form_url",
                "value": "={{ $('Generar URL Formulario').item.json.public_form_url }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3536,
          320
        ],
        "id": "65d24d55-9585-428e-937c-46c387d7016b",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.message.content.clasificacion }}",
                      "rightValue": "Cliente solicita proyecto nuevo",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "d9f00dde-a3ff-42ee-9238-ec93632592f6"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "b65d36d8-9187-4395-b6f2-1619f9766c35",
                      "leftValue": "={{ $json.message.content.clasificacion }}",
                      "rightValue": "Cliente solicita modificacion a proyecto existente",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "778be39b-f826-4b4a-a3d4-dbac7f3b977e",
                      "leftValue": "={{ $json.message.content.clasificacion }}",
                      "rightValue": "Cliente solicita proyecto nuevo",
                      "operator": {
                        "type": "string",
                        "operation": "notEquals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "fde93e98-f8eb-4604-b295-e01e14cb289f",
                      "leftValue": "={{ $json.message.content.clasificacion }}",
                      "rightValue": "Cliente solicita modificacion a proyecto existente",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          112,
          304
        ],
        "id": "7f9bf21e-260c-48b3-b4cd-53c7fe47aaab",
        "name": "Switch"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          496,
          304
        ],
        "id": "db351e3f-e0fa-4aaf-89fc-b8367065de38",
        "name": "Merge"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ff582b50-a25f-4ad1-ad45-3b8cf6046595",
                "name": "clasificacion.email",
                "value": "={{ $('Clasificar Correo IA').item.json.message.content.clasificacion }}",
                "type": "string"
              },
              {
                "id": "89cb6404-0bda-40d1-813f-547495434082",
                "name": "razon.email",
                "value": "={{ $('Clasificar Correo IA').item.json.message.content.razon }}",
                "type": "string"
              },
              {
                "id": "758b7f34-e31f-4c85-ad24-4c355d02f126",
                "name": "subject.email",
                "value": "={{ $('Outlook Trigger').item.json.subject }}",
                "type": "string"
              },
              {
                "id": "ffee8e5a-d0a0-4d80-bd2b-01959090a45d",
                "name": "body.email",
                "value": "={{ $('Outlook Trigger').item.json.bodyPreview }}",
                "type": "string"
              },
              {
                "id": "253bf9a5-bb6b-463b-93a8-a0731cc63ae8",
                "name": "Email.Cliente",
                "value": "={{ $('Outlook Trigger').item.json.from.emailAddress.address }}",
                "type": "string"
              },
              {
                "id": "93ff1040-e5cd-4220-a095-0f6c0d9a0211",
                "name": "id.supabase.doa.consultas.entrantes",
                "value": "={{ $json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          928,
          304
        ],
        "id": "9ca67f4e-1e4e-4415-a233-bd097ce259c8",
        "name": "Filtro Correo entrante"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "doa_clientes_datos_generales",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "keyValue": "={{ $('Ver si el cliente es conocido').item.json.cliente_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2176,
          48
        ],
        "id": "07f09953-8fe6-4e8e-bd74-848981346c65",
        "name": "Get a row1",
        "credentials": {
          "supabaseApi": {
            "id": "H1ZHvBDstWZ1K6KS",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7649a396-dc8d-4ef7-8dc0-e30e746e51e8",
                "name": "nombre.empresa",
                "value": "={{ $json.nombre }}",
                "type": "string"
              },
              {
                "id": "b6f27331-137e-425c-a076-c2a394a8d295",
                "name": "cif_vat",
                "value": "={{ $json.cif_vat }}",
                "type": "string"
              },
              {
                "id": "d1362500-2393-40a6-944b-f25e03494bb2",
                "name": "pais",
                "value": "={{ $json.pais }}",
                "type": "string"
              },
              {
                "id": "f5f8e558-952c-4a14-8aa4-4fdbbb43e232",
                "name": "ciudad",
                "value": "={{ $json.ciudad }}",
                "type": "string"
              },
              {
                "id": "219c9afb-8110-4a75-a1a9-e3f7ed9fee39",
                "name": "direccion",
                "value": "={{ $json.direccion }}",
                "type": "string"
              },
              {
                "id": "30983dbf-0575-49af-85bb-fa01fa83ac34",
                "name": "telefono",
                "value": "={{ $json.telefono }}",
                "type": "string"
              },
              {
                "id": "e2bc889c-d6d5-454b-83e3-836941383698",
                "name": "web",
                "value": "={{ $json.web }}",
                "type": "string"
              },
              {
                "id": "bba43d22-72e4-4c18-8f7a-27a4fb66afbb",
                "name": "dominio_email",
                "value": "={{ $json.dominio_email }}",
                "type": "string"
              },
              {
                "id": "f2bd07fb-0c46-4163-a9a9-d70dba2ae683",
                "name": "tipo_cliente",
                "value": "={{ $json.tipo_cliente }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2592,
          48
        ],
        "id": "b4ee8704-ba84-4003-9786-579136cceb81",
        "name": "Datos empresa"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Ver si el cliente es conocido').item.json.email }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "notEmpty",
                        "singleValue": true
                      },
                      "id": "06930245-33d0-42e5-bed5-a31e3ae2875c"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Cliente Conocido"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "d34d4b84-6999-4d8a-8fd6-4f3fd96ab68f",
                      "leftValue": "={{ $('Ver si el cliente es conocido').item.json.email }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "empty",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Cliente No Conocido"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          1872,
          304
        ],
        "id": "a9d9cb2d-5f60-4acd-9b83-df383612e714",
        "name": "Switch1"
      },
      {
        "parameters": {
          "tableId": "doa_consultas_entrantes"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          720,
          304
        ],
        "id": "c2071304-699f-4a4b-8701-bf78cff8a7f6",
        "name": "Crear fila en entrantes",
        "credentials": {
          "supabaseApi": {
            "id": "H1ZHvBDstWZ1K6KS",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "doa_clientes_contactos",
          "filters": {
            "conditions": [
              {
                "keyName": "email",
                "keyValue": "={{ $json.Email.Cliente.trim() }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1216,
          304
        ],
        "id": "b20dad45-7a54-430a-b4c8-45b03e4766d9",
        "name": "Ver si el cliente es conocido",
        "credentials": {
          "supabaseApi": {
            "id": "H1ZHvBDstWZ1K6KS",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "doa_consultas_entrantes",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Filtro Correo entrante').item.json.id.supabase.doa.consultas.entrantes }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "remitente",
                "fieldValue": "={{ $json.email }}"
              },
              {
                "fieldId": "asunto",
                "fieldValue": "={{ $('Filtro Correo entrante').item.json.subject.email }}"
              },
              {
                "fieldId": "cuerpo_original",
                "fieldValue": "={{ $('Filtro Correo entrante').item.json.body.email }}"
              },
              {
                "fieldId": "clasificacion",
                "fieldValue": "={{ $('Filtro Correo entrante').item.json.clasificacion.email }}"
              },
              {
                "fieldId": "estado",
                "fieldValue": "nuevo"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1504,
          304
        ],
        "id": "8c8b2979-b79c-4e7f-a620-b1380dd07ccb",
        "name": "Actualizar Fila entrantes",
        "credentials": {
          "supabaseApi": {
            "id": "H1ZHvBDstWZ1K6KS",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "urlgen123",
                "name": "public_form_url",
                "value": "={{ 'https://sswebhook.testn8n.com/webhook/doa-form?id=' + $('Filtro Correo entrante').first().json.id.supabase.doa.consultas.entrantes }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2368,
          320
        ],
        "id": "generador_url_unica",
        "name": "Generar URL Formulario"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "doa_consultas_entrantes",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Filtro Correo entrante').item.json.id.supabase.doa.consultas.entrantes }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "respuesta_ia",
                "fieldValue": "={{ $json.respuesta_ia }}"
              },
              {
                "fieldId": "url_formulario",
                "fieldValue": "={{ $json.public_form_url }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          3904,
          320
        ],
        "id": "563f5a8f-3258-44c6-a744-d6af3d993a81",
        "name": "Actualizar Fila entrantes1",
        "credentials": {
          "supabaseApi": {
            "id": "H1ZHvBDstWZ1K6KS",
            "name": "Supabase account"
          }
        }
      }
    ],
    "connections": {
      "Outlook Trigger": {
        "main": [
          [
            {
              "node": "Clasificar Correo IA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clasificar Correo IA": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redactar Respuesta IA": {
        "main": [
          [
            {
              "node": "Normalizar Correo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar Correo": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Actualizar Fila entrantes1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ],
          [],
          []
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Crear fila en entrantes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtro Correo entrante": {
        "main": [
          [
            {
              "node": "Ver si el cliente es conocido",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a row1": {
        "main": [
          [
            {
              "node": "Datos empresa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Datos empresa": {
        "main": [
          [
            {
              "node": "Generar URL Formulario",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "Get a row1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generar URL Formulario",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Crear fila en entrantes": {
        "main": [
          [
            {
              "node": "Filtro Correo entrante",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ver si el cliente es conocido": {
        "main": [
          [
            {
              "node": "Actualizar Fila entrantes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Actualizar Fila entrantes": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generar URL Formulario": {
        "main": [
          [
            {
              "node": "Redactar Respuesta IA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Actualizar Fila entrantes1": {
        "main": [
          [
            {
              "node": "Marcar Correo como Leido",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jesus Andres Arevalo Torres",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-02T17:12:02.847Z",
        "id": 61,
        "workflowId": "pEFW1V46yyLR58c8",
        "versionId": "2ece719c-ca1c-4d44-93ad-52f9d8686221",
        "event": "activated",
        "userId": "1f2bf491-b33b-4a5b-986e-9b7841cecb8d"
      }
    ]
  }
}