01. Soporte_App/n8n-workflows/DOA - Receptor Formularios Clientes (POST).json
{
  "name": "DOA - Receptor Formularios Clientes (POST)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "doa-form-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_post_srv",
      "name": "Recibir Formulario POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "doa-form-submit"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst clean = (v) => (v ?? '').toString().trim() || null;\n\nreturn {\n  json: {\n    consulta_id: clean(body.consulta_id),\n    company_name: clean(body.company_name),\n    vat_tax_id: clean(body.vat_tax_id),\n    country: clean(body.country),\n    city: clean(body.city),\n    address: clean(body.address),\n    company_phone: clean(body.company_phone),\n    website: clean(body.website),\n    contact_first_name: clean(body.contact_first_name),\n    contact_last_name: clean(body.contact_last_name),\n    contact_email: clean(body.contact_email),\n    contact_phone: clean(body.contact_phone),\n    position_role: clean(body.position_role),\n    aircraft_manufacturer: clean(body.aircraft_manufacturer),\n    aircraft_model: clean(body.aircraft_model),\n    registration: clean(body.registration),\n    project_type: clean(body.project_type),\n    modification_description: clean(body.modification_description),\n    affected_aircraft_count: parseInt(body.affected_aircraft_count) || null,\n    number_of_stcs: clean(body.number_of_stcs),\n    ata_chapter: clean(body.ata_chapter),\n    applicable_regulation: clean(body.applicable_regulation),\n    has_previous_approval: body.has_previous_approval === 'yes' || body.has_previous_approval === true,\n    reference_document: clean(body.reference_document),\n    aircraft_effectivity: clean(body.aircraft_effectivity),\n    aircraft_location: clean(body.aircraft_location),\n    desired_timeline: clean(body.desired_timeline),\n    is_aog: body.is_aog === 'yes' || body.is_aog === true,\n    has_drawings: body.has_drawings === 'yes' || body.has_drawings === true,\n    additional_notes: clean(body.additional_notes),\n    estado: 'recibido'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "id": "normalizar_form_srv",
      "name": "Normalizar Respuesta"
    },
    {
      "parameters": {
        "tableId": "doa_respuestas_formularios",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "id": "insertar_respuesta_srv",
      "name": "Guardar en Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "H1ZHvBDstWZ1K6KS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "doa_consultas_entrantes",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Normalizar Respuesta').first().json.consulta_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "formulario_completado"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "id": "actualizar_estado_srv",
      "name": "Actualizar Estado Consulta",
      "credentials": {
        "supabaseApi": {
          "id": "H1ZHvBDstWZ1K6KS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Request Received - DOA</title>\n<style>\n*{margin:0;padding:0;box-sizing:border-box}\nbody{font-family:'Segoe UI',system-ui,sans-serif;background:linear-gradient(135deg,#0a1628 0%,#1a2940 100%);min-height:100vh;display:flex;align-items:center;justify-content:center;color:#e2e8f0}\n.card{background:rgba(30,41,59,0.9);border:1px solid rgba(100,116,139,0.3);border-radius:16px;padding:48px;max-width:520px;text-align:center;box-shadow:0 25px 50px rgba(0,0,0,0.4)}\n.icon{width:72px;height:72px;background:linear-gradient(135deg,#10b981,#059669);border-radius:50%;display:flex;align-items:center;justify-content:center;margin:0 auto 24px;font-size:36px}\nh1{font-size:24px;font-weight:700;margin-bottom:12px;color:#f1f5f9}\np{font-size:15px;line-height:1.6;color:#94a3b8;margin-bottom:8px}\n.highlight{color:#10b981;font-weight:600}\n.footer{margin-top:32px;padding-top:24px;border-top:1px solid rgba(100,116,139,0.2);font-size:13px;color:#64748b}\n</style>\n</head>\n<body>\n<div class=\"card\">\n<div class=\"icon\">✓</div>\n<h1>Request Received Successfully</h1>\n<p>Thank you for completing the project intake form.</p>\n<p>Our <span class=\"highlight\">DOA Management Team</span> will review your information and contact you within <span class=\"highlight\">48 business hours</span>.</p>\n<p>If you need to provide additional documentation, please reply to the original email.</p>\n<div class=\"footer\">Design Organization Approval · Powered by DOA Hub</div>\n</div>\n</body>\n</html>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        300
      ],
      "id": "gracias_srv",
      "name": "Página de Gracias"
    }
  ],
  "connections": {
    "Recibir Formulario POST": {
      "main": [
        [
          {
            "node": "Normalizar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Respuesta": {
      "main": [
        [
          {
            "node": "Guardar en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Supabase": {
      "main": [
        [
          {
            "node": "Actualizar Estado Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Estado Consulta": {
      "main": [
        [
          {
            "node": "Página de Gracias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}