01. Soporte_App/n8n-workflows/DOA - Enviar Correo al Cliente.json
{
  "updatedAt": "2026-04-02T11:29:31.581Z",
  "createdAt": "2026-03-15T11:10:10.527Z",
  "id": "I59H3jFoXXPkRCGc",
  "name": "DOA - Enviar Correo al Cliente",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "doa-send-client-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_send_client_email",
      "name": "Webhook Enviar Correo Cliente",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        272
      ],
      "webhookId": "dff60d38-186d-4efd-a8a6-51a72f4f1a4f",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.body.consulta.remitente }}",
        "subject": "={{ $json.body.consulta.asunto }}",
        "bodyContent": "={{ $json.body.body }}",
        "additionalFields": {
          "bodyContentType": "Text"
        }
      },
      "id": "send_email_outlook",
      "name": "Enviar Correo Outlook",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        800,
        272
      ],
      "webhookId": "9f3138ff-adb1-47bc-bd17-27bf011cbd90",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "LWbjIUOv0OUB6zRO",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true, \"message\": \"Email sent\"}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond_email_sent",
      "name": "Responder Envio OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1360,
        272
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "doa_consultas_entrantes",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.body.consulta.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "esperando_formulario"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1104,
        272
      ],
      "id": "9799511f-3cd7-4acb-85e2-e509eab32162",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "H1ZHvBDstWZ1K6KS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "56a5c31a-6c6d-471d-bb67-f99d9db56625",
              "name": "body.consulta.clasificacion",
              "value": "={{ $json.body.consulta.clasificacion }}",
              "type": "string"
            },
            {
              "id": "b1ae1ed5-687d-4046-85b4-39130133b838",
              "name": "body.consulta.remitente",
              "value": "={{ $json.body.consulta.remitente }}",
              "type": "string"
            },
            {
              "id": "f1ee9135-1560-4dd1-af44-d360fa6c124e",
              "name": "body.consulta.asunto",
              "value": "={{ $json.body.consulta.asunto }}",
              "type": "string"
            },
            {
              "id": "472dbcad-2172-4e9d-92bb-1e5091892ce1",
              "name": "body.body",
              "value": "={{ $json.body.body }}",
              "type": "string"
            },
            {
              "id": "2ea55c2d-efa6-4dc2-978a-2d9275d81f83",
              "name": "body.consulta.id",
              "value": "={{ $json.body.consulta.id }}",
              "type": "string"
            },
            {
              "id": "dea307a9-fde8-4bab-8310-7a0ee0961af9",
              "name": "body.consulta.codigo",
              "value": "={{ $json.body.consulta.codigo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        272
      ],
      "id": "f33d8671-278d-4052-87d9-63e1cdbe0e90",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Webhook Enviar Correo Cliente": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Correo Outlook": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Envio OK": {
      "main": [
        []
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Responder Envio OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Enviar Correo Outlook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c68622f1-ad59-4cdd-b928-4c8ea514017e",
  "activeVersionId": "c68622f1-ad59-4cdd-b928-4c8ea514017e",
  "versionCounter": 66,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-15T11:10:10.527Z",
      "createdAt": "2026-03-15T11:10:10.527Z",
      "role": "workflow:owner",
      "workflowId": "I59H3jFoXXPkRCGc",
      "projectId": "Xt0280WfIpw1lD6W",
      "project": {
        "updatedAt": "2025-03-27T09:22:13.302Z",
        "createdAt": "2025-03-27T09:14:41.486Z",
        "id": "Xt0280WfIpw1lD6W",
        "name": "Jesus Andres Arevalo Torres <jesus.arevalotorres@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1f2bf491-b33b-4a5b-986e-9b7841cecb8d",
        "projectRelations": [
          {
            "updatedAt": "2025-03-27T09:14:41.486Z",
            "createdAt": "2025-03-27T09:14:41.486Z",
            "userId": "1f2bf491-b33b-4a5b-986e-9b7841cecb8d",
            "projectId": "Xt0280WfIpw1lD6W",
            "user": {
              "updatedAt": "2026-04-02T10:10:16.896Z",
              "createdAt": "2025-03-27T09:14:40.894Z",
              "id": "1f2bf491-b33b-4a5b-986e-9b7841cecb8d",
              "email": "jesus.arevalotorres@gmail.com",
              "firstName": "Jesus Andres",
              "lastName": "Arevalo Torres",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-03-27T09:22:28.912Z",
                "personalization_survey_n8n_version": "1.84.1",
                "automationGoalDevops": [
                  "reporting"
                ],
                "companyType": "education",
                "role": "engineering"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "g7j5KfgJVN6xCZ4v",
                "userActivatedAt": 1751604523816,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763884915866
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-02",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-02T11:30:08.435Z",
    "createdAt": "2026-04-02T11:29:31.582Z",
    "versionId": "c68622f1-ad59-4cdd-b928-4c8ea514017e",
    "workflowId": "I59H3jFoXXPkRCGc",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "doa-send-client-email",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook_send_client_email",
        "name": "Webhook Enviar Correo Cliente",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          32,
          272
        ],
        "webhookId": "dff60d38-186d-4efd-a8a6-51a72f4f1a4f",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "toRecipients": "={{ $json.body.consulta.remitente }}",
          "subject": "={{ $json.body.consulta.asunto }}",
          "bodyContent": "={{ $json.body.body }}",
          "additionalFields": {
            "bodyContentType": "Text"
          }
        },
        "id": "send_email_outlook",
        "name": "Enviar Correo Outlook",
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          800,
          272
        ],
        "webhookId": "9f3138ff-adb1-47bc-bd17-27bf011cbd90",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "LWbjIUOv0OUB6zRO",
            "name": "Microsoft Outlook account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"ok\": true, \"message\": \"Email sent\"}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "respond_email_sent",
        "name": "Responder Envio OK",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1360,
          272
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "doa_consultas_entrantes",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Edit Fields').item.json.body.consulta.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "estado",
                "fieldValue": "esperando_formulario"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1104,
          272
        ],
        "id": "9799511f-3cd7-4acb-85e2-e509eab32162",
        "name": "Update a row",
        "credentials": {
          "supabaseApi": {
            "id": "H1ZHvBDstWZ1K6KS",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "56a5c31a-6c6d-471d-bb67-f99d9db56625",
                "name": "body.consulta.clasificacion",
                "value": "={{ $json.body.consulta.clasificacion }}",
                "type": "string"
              },
              {
                "id": "b1ae1ed5-687d-4046-85b4-39130133b838",
                "name": "body.consulta.remitente",
                "value": "={{ $json.body.consulta.remitente }}",
                "type": "string"
              },
              {
                "id": "f1ee9135-1560-4dd1-af44-d360fa6c124e",
                "name": "body.consulta.asunto",
                "value": "={{ $json.body.consulta.asunto }}",
                "type": "string"
              },
              {
                "id": "472dbcad-2172-4e9d-92bb-1e5091892ce1",
                "name": "body.body",
                "value": "={{ $json.body.body }}",
                "type": "string"
              },
              {
                "id": "2ea55c2d-efa6-4dc2-978a-2d9275d81f83",
                "name": "body.consulta.id",
                "value": "={{ $json.body.consulta.id }}",
                "type": "string"
              },
              {
                "id": "dea307a9-fde8-4bab-8310-7a0ee0961af9",
                "name": "body.consulta.codigo",
                "value": "={{ $json.body.consulta.codigo }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          464,
          272
        ],
        "id": "f33d8671-278d-4052-87d9-63e1cdbe0e90",
        "name": "Edit Fields"
      }
    ],
    "connections": {
      "Webhook Enviar Correo Cliente": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Correo Outlook": {
        "main": [
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Responder Envio OK": {
        "main": [
          []
        ]
      },
      "Update a row": {
        "main": [
          [
            {
              "node": "Responder Envio OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Enviar Correo Outlook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jesus Andres Arevalo Torres",
    "name": "Version c68622f1",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-02T11:30:08.431Z",
        "id": 52,
        "workflowId": "I59H3jFoXXPkRCGc",
        "versionId": "c68622f1-ad59-4cdd-b928-4c8ea514017e",
        "event": "activated",
        "userId": "1f2bf491-b33b-4a5b-986e-9b7841cecb8d"
      }
    ]
  }
}