01. Soporte_App/n8n-workflows/DOA-Formulario-Cliente-Nativo.json
{
  "updatedAt": "2026-03-29T10:59:24.103Z",
  "createdAt": "2026-03-14T19:35:44.821Z",
  "id": "etYkdHPyt3BVPJ88",
  "name": "DOA-Formulario-Cliente-Nativo",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "id": "form_trigger_native",
      "name": "Formulario Cliente DOA Nativo",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        240,
        320
      ],
      "parameters": {
        "path": "doa-formulario-cliente-nativo",
        "formTitle": "DOA Client Intake Form",
        "formDescription": "Please complete this form so our DOA management team can identify your company, capture your contact details and route your aircraft request correctly.",
        "responseMode": "lastNode",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Company name",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Legal or commercial company name"
            },
            {
              "fieldLabel": "VAT / Tax ID",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Optional tax identifier"
            },
            {
              "fieldLabel": "Country",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Country"
            },
            {
              "fieldLabel": "City",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "City"
            },
            {
              "fieldLabel": "Address",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Company address"
            },
            {
              "fieldLabel": "Company phone",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Main company phone"
            },
            {
              "fieldLabel": "Website",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "https://company.com"
            },
            {
              "fieldLabel": "Contact first name",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Contact first name"
            },
            {
              "fieldLabel": "Contact last name",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Contact last name"
            },
            {
              "fieldLabel": "Contact email",
              "fieldType": "email",
              "requiredField": true,
              "placeholder": "name@company.com"
            },
            {
              "fieldLabel": "Contact phone",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Direct phone"
            },
            {
              "fieldLabel": "Position / Role",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Engineering Manager, CAMO, Technical Director..."
            },
            {
              "fieldLabel": "Aircraft manufacturer",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Airbus"
                  },
                  {
                    "option": "ATR"
                  },
                  {
                    "option": "Boeing"
                  },
                  {
                    "option": "Cessna"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "buttonLabel": "Continue to aircraft details"
        }
      }
    },
    {
      "id": "if_airbus",
      "name": "Si Airbus",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        320
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json['Aircraft manufacturer'] }}",
              "rightValue": "Airbus",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "if_atr",
      "name": "Si ATR",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        420
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json['Aircraft manufacturer'] }}",
              "rightValue": "ATR",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "if_boeing",
      "name": "Si Boeing",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        940,
        520
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json['Aircraft manufacturer'] }}",
              "rightValue": "Boeing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "form_airbus",
      "name": "Pagina Airbus",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        760,
        180
      ],
      "parameters": {
        "operation": "page",
        "defineForm": "fields",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Aircraft model",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "A319-100"
                  },
                  {
                    "option": "A320-200"
                  },
                  {
                    "option": "A321-200"
                  },
                  {
                    "option": "A330-200"
                  },
                  {
                    "option": "A330-300"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Registration",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Example: EC-XXX"
            },
            {
              "fieldLabel": "Project type",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "New project"
                  },
                  {
                    "option": "Modification to an existing project"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Modification / request description",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Describe the requested modification or project scope with as much detail as possible."
            }
          ]
        },
        "options": {
          "formTitle": "Aircraft details: Airbus",
          "formDescription": "Select the Airbus model and complete the project request details.",
          "buttonLabel": "Submit request"
        }
      }
    },
    {
      "id": "form_atr",
      "name": "Pagina ATR",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        980,
        320
      ],
      "parameters": {
        "operation": "page",
        "defineForm": "fields",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Aircraft model",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "ATR 42-300"
                  },
                  {
                    "option": "ATR 42-500"
                  },
                  {
                    "option": "ATR 72-200"
                  },
                  {
                    "option": "ATR 72-500"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Registration",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Example: EC-XXX"
            },
            {
              "fieldLabel": "Project type",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "New project"
                  },
                  {
                    "option": "Modification to an existing project"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Modification / request description",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Describe the requested modification or project scope with as much detail as possible."
            }
          ]
        },
        "options": {
          "formTitle": "Aircraft details: ATR",
          "formDescription": "Select the ATR model and complete the project request details.",
          "buttonLabel": "Submit request"
        }
      }
    },
    {
      "id": "form_boeing",
      "name": "Pagina Boeing",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1200,
        420
      ],
      "parameters": {
        "operation": "page",
        "defineForm": "fields",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Aircraft model",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "B737-400"
                  },
                  {
                    "option": "B737-800"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Registration",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Example: EC-XXX"
            },
            {
              "fieldLabel": "Project type",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "New project"
                  },
                  {
                    "option": "Modification to an existing project"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Modification / request description",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Describe the requested modification or project scope with as much detail as possible."
            }
          ]
        },
        "options": {
          "formTitle": "Aircraft details: Boeing",
          "formDescription": "Select the Boeing model and complete the project request details.",
          "buttonLabel": "Submit request"
        }
      }
    },
    {
      "id": "form_cessna",
      "name": "Pagina Cessna",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1420,
        520
      ],
      "parameters": {
        "operation": "page",
        "defineForm": "fields",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Aircraft model",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Cessna 208B Grand Caravan"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Registration",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Example: EC-XXX"
            },
            {
              "fieldLabel": "Project type",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "New project"
                  },
                  {
                    "option": "Modification to an existing project"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Modification / request description",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Describe the requested modification or project scope with as much detail as possible."
            }
          ]
        },
        "options": {
          "formTitle": "Aircraft details: Cessna",
          "formDescription": "Select the Cessna model and complete the project request details.",
          "buttonLabel": "Submit request"
        }
      }
    },
    {
      "id": "prepare_payloads_native",
      "name": "Preparar Payloads Nativo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        320
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const clean = (value) => {\n  const text = (value ?? '').toString().trim();\n  return text || null;\n};\nconst required = (value, label) => {\n  const text = (value ?? '').toString().trim();\n  if (!text) throw new Error(`Missing required field: ${label}`);\n  return text;\n};\nconst companyName = required($json['Company name'], 'Company name');\nconst country = required($json['Country'], 'Country');\nconst contactFirstName = required($json['Contact first name'], 'Contact first name');\nconst contactEmail = required($json['Contact email'], 'Contact email');\nconst manufacturer = required($json['Aircraft manufacturer'], 'Aircraft manufacturer');\nconst model = required($json['Aircraft model'], 'Aircraft model');\nconst projectType = required($json['Project type'], 'Project type');\nconst registration = required($json['Registration'], 'Registration');\nconst description = required($json['Modification / request description'], 'Modification / request description');\nconst cliente = {\n  nombre: companyName,\n  cif_vat: clean($json['VAT / Tax ID']),\n  pais: country,\n  ciudad: clean($json['City']),\n  direccion: clean($json['Address']),\n  telefono: clean($json['Company phone']),\n  web: clean($json['Website']),\n  activo: true,\n  notas: null,\n};\nconst contacto = {\n  nombre: contactFirstName,\n  apellidos: clean($json['Contact last name']),\n  email: contactEmail,\n  telefono: clean($json['Contact phone']),\n  cargo: clean($json['Position / Role']),\n  es_principal: true,\n  activo: true,\n};\nconst clasificacion = projectType === 'Modification to an existing project'\n  ? 'Cliente solicita modificacion a proyecto existente'\n  : 'Cliente solicita proyecto nuevo';\nconst intake = {\n  remitente: contactEmail,\n  asunto: `Formulario nativo DOA - ${companyName} - ${model}`,\n  cuerpo_original: [\n    `Tipo de solicitud: ${projectType}`,\n    `Fabricante: ${manufacturer}`,\n    `Modelo: ${model}`,\n    `Matricula: ${registration}`,\n    `Descripcion: ${description}`,\n    '',\n    `Empresa: ${companyName}`,\n    `Pais: ${country}`,\n    `Ciudad: ${cliente.ciudad || ''}`,\n    `Direccion: ${cliente.direccion || ''}`,\n    `Telefono empresa: ${cliente.telefono || ''}`,\n    `Web: ${cliente.web || ''}`,\n    '',\n    `Contacto: ${contacto.nombre} ${contacto.apellidos || ''}`.trim(),\n    `Email contacto: ${contacto.email}`,\n    `Telefono contacto: ${contacto.telefono || ''}`,\n    `Cargo: ${contacto.cargo || ''}`,\n  ].join('\\n'),\n  clasificacion,\n  respuesta_ia: '',\n};\nreturn { json: { cliente, contacto, intake } };"
      }
    },
    {
      "id": "create_company_native",
      "name": "Crear Empresa Nativo",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1900,
        320
      ],
      "parameters": {
        "tableId": "doa_clientes_datos_generales",
        "dataToSend": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nombre",
              "value": "={{ $json.cliente.nombre }}"
            },
            {
              "column": "cif_vat",
              "value": "={{ $json.cliente.cif_vat }}"
            },
            {
              "column": "pais",
              "value": "={{ $json.cliente.pais }}"
            },
            {
              "column": "ciudad",
              "value": "={{ $json.cliente.ciudad }}"
            },
            {
              "column": "direccion",
              "value": "={{ $json.cliente.direccion }}"
            },
            {
              "column": "telefono",
              "value": "={{ $json.cliente.telefono }}"
            },
            {
              "column": "web",
              "value": "={{ $json.cliente.web }}"
            },
            {
              "column": "activo",
              "value": "={{ $json.cliente.activo }}"
            },
            {
              "column": "notas",
              "value": "={{ $json.cliente.notas }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "H1ZHvBDstWZ1K6KS",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "prepare_contact_native",
      "name": "Preparar Contacto Nativo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        320
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const createdClient = $json || {};\nconst payload = $('Preparar Payloads Nativo').item.json || {};\nconst cliente = (createdClient.id ? createdClient : (createdClient.data && createdClient.data[0]) ? createdClient.data[0] : null) || createdClient;\nif (!cliente.id) throw new Error('No se pudo recuperar el id del cliente creado.');\nreturn {\n  json: {\n    contacto: {\n      cliente_id: cliente.id,\n      nombre: payload.contacto.nombre,\n      apellidos: payload.contacto.apellidos,\n      email: payload.contacto.email,\n      telefono: payload.contacto.telefono,\n      cargo: payload.contacto.cargo,\n      es_principal: true,\n      activo: true,\n    },\n    intake: payload.intake,\n    cliente,\n  },\n};"
      }
    },
    {
      "id": "create_contact_native",
      "name": "Crear Contacto Nativo",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2380,
        320
      ],
      "parameters": {
        "tableId": "doa_clientes_contactos",
        "dataToSend": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "cliente_id",
              "value": "={{ $json.contacto.cliente_id }}"
            },
            {
              "column": "nombre",
              "value": "={{ $json.contacto.nombre }}"
            },
            {
              "column": "apellidos",
              "value": "={{ $json.contacto.apellidos }}"
            },
            {
              "column": "email",
              "value": "={{ $json.contacto.email }}"
            },
            {
              "column": "telefono",
              "value": "={{ $json.contacto.telefono }}"
            },
            {
              "column": "cargo",
              "value": "={{ $json.contacto.cargo }}"
            },
            {
              "column": "es_principal",
              "value": "={{ $json.contacto.es_principal }}"
            },
            {
              "column": "activo",
              "value": "={{ $json.contacto.activo }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "H1ZHvBDstWZ1K6KS",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "create_intake_native",
      "name": "Crear Intake Nativo",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2620,
        320
      ],
      "parameters": {
        "tableId": "doa_consultas_entrantes",
        "dataToSend": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "asunto",
              "value": "={{ $json.intake.asunto }}"
            },
            {
              "column": "remitente",
              "value": "={{ $json.intake.remitente }}"
            },
            {
              "column": "cuerpo_original",
              "value": "={{ $json.intake.cuerpo_original }}"
            },
            {
              "column": "clasificacion",
              "value": "={{ $json.intake.clasificacion }}"
            },
            {
              "column": "respuesta_ia",
              "value": "={{ $json.intake.respuesta_ia }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "H1ZHvBDstWZ1K6KS",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "completion_native",
      "name": "Finalizacion Nativa",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        2860,
        320
      ],
      "parameters": {
        "operation": "completion",
        "respondWith": "text",
        "completionTitle": "Request received",
        "completionMessage": "Your DOA intake has been registered successfully. Our management team will review the information and contact you if more detail is required."
      }
    }
  ],
  "connections": {
    "Formulario Cliente DOA Nativo": {
      "main": [
        [
          {
            "node": "Si Airbus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si Airbus": {
      "main": [
        [
          {
            "node": "Pagina Airbus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Si ATR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si ATR": {
      "main": [
        [
          {
            "node": "Pagina ATR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Si Boeing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si Boeing": {
      "main": [
        [
          {
            "node": "Pagina Boeing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pagina Cessna",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pagina Airbus": {
      "main": [
        [
          {
            "node": "Preparar Payloads Nativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pagina ATR": {
      "main": [
        [
          {
            "node": "Preparar Payloads Nativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pagina Boeing": {
      "main": [
        [
          {
            "node": "Preparar Payloads Nativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pagina Cessna": {
      "main": [
        [
          {
            "node": "Preparar Payloads Nativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Payloads Nativo": {
      "main": [
        [
          {
            "node": "Crear Empresa Nativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Empresa Nativo": {
      "main": [
        [
          {
            "node": "Preparar Contacto Nativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contacto Nativo": {
      "main": [
        [
          {
            "node": "Crear Contacto Nativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Contacto Nativo": {
      "main": [
        [
          {
            "node": "Crear Intake Nativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Intake Nativo": {
      "main": [
        [
          {
            "node": "Finalizacion Nativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "d7bf7921-faa0-4744-ae5a-9b8c0e1276ad",
  "activeVersionId": null,
  "versionCounter": 8,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-14T19:35:44.821Z",
      "createdAt": "2026-03-14T19:35:44.821Z",
      "role": "workflow:owner",
      "workflowId": "etYkdHPyt3BVPJ88",
      "projectId": "Xt0280WfIpw1lD6W",
      "project": {
        "updatedAt": "2025-03-27T09:22:13.302Z",
        "createdAt": "2025-03-27T09:14:41.486Z",
        "id": "Xt0280WfIpw1lD6W",
        "name": "Jesus Andres Arevalo Torres <jesus.arevalotorres@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1f2bf491-b33b-4a5b-986e-9b7841cecb8d",
        "projectRelations": [
          {
            "updatedAt": "2025-03-27T09:14:41.486Z",
            "createdAt": "2025-03-27T09:14:41.486Z",
            "userId": "1f2bf491-b33b-4a5b-986e-9b7841cecb8d",
            "projectId": "Xt0280WfIpw1lD6W",
            "user": {
              "updatedAt": "2026-04-02T10:10:16.896Z",
              "createdAt": "2025-03-27T09:14:40.894Z",
              "id": "1f2bf491-b33b-4a5b-986e-9b7841cecb8d",
              "email": "jesus.arevalotorres@gmail.com",
              "firstName": "Jesus Andres",
              "lastName": "Arevalo Torres",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-03-27T09:22:28.912Z",
                "personalization_survey_n8n_version": "1.84.1",
                "automationGoalDevops": [
                  "reporting"
                ],
                "companyType": "education",
                "role": "engineering"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "g7j5KfgJVN6xCZ4v",
                "userActivatedAt": 1751604523816,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763884915866
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-02",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}