01. Soporte_App/n8n-workflows/DOA-Formulario-Cliente.json
{
  "updatedAt": "2026-03-29T10:46:42.123Z",
  "createdAt": "2026-03-14T18:44:05.720Z",
  "id": "tchvIu8o8OOonSX5",
  "name": "DOA-Form-Client",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook_form_get",
      "name": "Form Client DOA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        180
      ],
      "parameters": {
        "path": "doa-form-client",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "build_form_html",
      "name": "Construir Form HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        180
      ],
      "parameters": {
        "jsCode": "const modelosPorFabricante = {\n  \"Airbus\": [\"A319-100\", \"A320-200\", \"A321-200\", \"A330-200\", \"A330-300\"],\n  \"ATR\": [\"ATR 42-300\", \"ATR 42-500\", \"ATR 72-200\", \"ATR 72-500\"],\n  \"Boeing\": [\"B737-400\", \"B737-800\"],\n  \"Cessna\": [\"Cessna 208B Grand Caravan\"]\n};\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>DOA Client Intake Form</title>\n  <style>\n    :root {\n      --bg-1: #06131f;\n      --bg-2: #10314b;\n      --panel: rgba(255,255,255,0.96);\n      --ink: #10202d;\n      --muted: #5b6b79;\n      --accent: #0f7b6c;\n      --line: rgba(16,32,45,0.12);\n    }\n    * { box-sizing: border-box; }\n    body { margin: 0; font-family: Georgia, 'Times New Roman', serif; background: radial-gradient(circle at top right, rgba(212,138,40,0.18), transparent 22%), linear-gradient(135deg, var(--bg-1), var(--bg-2)); color: var(--ink); min-height: 100vh; padding: 28px; }\n    .shell { width: min(1120px, 100%); margin: 0 auto; background: var(--panel); border-radius: 28px; overflow: hidden; box-shadow: 0 28px 80px rgba(0,0,0,0.28); }\n    .hero { padding: 42px 42px 28px; background: linear-gradient(160deg, rgba(6,19,31,0.98), rgba(12,34,52,0.94)); color: #f4efe6; }\n    .eyebrow { text-transform: uppercase; letter-spacing: 0.18em; font-size: 12px; opacity: 0.78; margin-bottom: 16px; }\n    h1 { margin: 0 0 12px; font-size: clamp(34px, 5vw, 52px); line-height: 0.95; }\n    .hero p { margin: 0; max-width: 58ch; color: rgba(244,239,230,0.8); line-height: 1.65; font-size: 16px; }\n    form { padding: 34px 42px 42px; display: grid; gap: 28px; }\n    .section { display: grid; gap: 18px; padding-bottom: 10px; border-bottom: 1px solid var(--line); }\n    .section:last-of-type { border-bottom: 0; padding-bottom: 0; }\n    .section-title { display: flex; align-items: center; gap: 10px; font-size: 21px; font-weight: 700; }\n    .section-title span { display: inline-grid; place-items: center; width: 32px; height: 32px; border-radius: 50%; background: rgba(15,123,108,0.12); color: var(--accent); font-size: 14px; }\n    .grid { display: grid; grid-template-columns: repeat(2, minmax(0, 1fr)); gap: 18px; }\n    .full { grid-column: 1 / -1; }\n    label { display: grid; gap: 8px; font-size: 14px; font-weight: 700; }\n    .hint { color: var(--muted); font-size: 13px; line-height: 1.5; font-weight: 400; }\n    .conditional { display: none; }\n    .conditional.show { display: grid; }\n    input, select, textarea, button { font: inherit; }\n    input, select, textarea { width: 100%; border: 1px solid var(--line); border-radius: 14px; padding: 13px 14px; background: #fff; color: var(--ink); outline: none; }\n    textarea { min-height: 150px; resize: vertical; }\n    .footer { display: flex; align-items: center; justify-content: space-between; gap: 18px; margin-top: 10px; padding-top: 14px; border-top: 1px solid var(--line); }\n    .footer p { margin: 0; color: var(--muted); font-size: 13px; line-height: 1.6; max-width: 52ch; }\n    button { border: 0; border-radius: 999px; padding: 15px 24px; background: linear-gradient(135deg, var(--accent), #169785); color: white; font-weight: 700; cursor: pointer; }\n    @medium (max-width: 860px) { body { padding: 16px; } .hero, form { padding-left: 22px; padding-right: 22px; } .grid { grid-template-columns: 1fr; } .footer { flex-direction: column; align-items: stretch; } button { width: 100%; } }\n  </style>\n</head>\n<body>\n  <div class=\"shell\">\n    <section class=\"hero\">\n      <div class=\"eyebrow\">Design Organisation Approval</div>\n      <h1>Client Project Intake</h1>\n      <p>Please complete this form so our DOA management team can identify your company, review the aircraft involved, and start the internal intake process for your request.</p>\n    </section>\n    <form id=\"doaClientForm\" method=\"POST\">\n      <section class=\"section\">\n        <div class=\"section-title\"><span>1</span>Company information</div>\n        <div class=\"grid\">\n          <label class=\"full\">Company name<input type=\"text\" name=\"client_name\" required placeholder=\"Legal or commercial company name\" /></label>\n          <label>VAT / Tax ID<input type=\"text\" name=\"cliente_vat_tax_id\" placeholder=\"Optional tax identifier\" /></label>\n          <label>Country<input type=\"text\" name=\"cliente_pais\" required placeholder=\"Country\" /></label>\n          <label>City<input type=\"text\" name=\"cliente_ciudad\" placeholder=\"City\" /></label>\n          <label class=\"full\">Address<input type=\"text\" name=\"cliente_direccion\" placeholder=\"Company address\" /></label>\n          <label>Phone<input type=\"text\" name=\"cliente_telefono\" placeholder=\"Main company phone\" /></label>\n          <label>Website<input type=\"url\" name=\"cliente_web\" placeholder=\"https://company.com\" /></label>\n        </div>\n      </section>\n      <section class=\"section\">\n        <div class=\"section-title\"><span>2</span>Main contact</div>\n        <div class=\"grid\">\n          <label>First name<input type=\"text\" name=\"contacto_nombre\" required placeholder=\"Contact first name\" /></label>\n          <label>Last name<input type=\"text\" name=\"contacto_apellidos\" placeholder=\"Contact last name\" /></label>\n          <label>Email<input type=\"email\" name=\"contacto_email\" required placeholder=\"name@company.com\" /></label>\n          <label>Phone<input type=\"text\" name=\"contacto_telefono\" placeholder=\"Direct phone\" /></label>\n          <label class=\"full\">Position / Role<input type=\"text\" name=\"contacto_cargo\" placeholder=\"Engineering Manager, CAMO, Technical Director...\" /></label>\n        </div>\n      </section>\n      <section class=\"section\">\n        <div class=\"section-title\"><span>3</span>Project request</div>\n        <div class=\"grid\">\n          <label>Aircraft manufacturer\n            <select id=\"manufacturer\" name=\"manufacturer\" required onchange=\"window.renderModelos(this.value)\">\n              <option value=\"\">Select a manufacturer</option>\n              <option value=\"Airbus\">Airbus</option>\n              <option value=\"ATR\">ATR</option>\n              <option value=\"Boeing\">Boeing</option>\n              <option value=\"Cessna\">Cessna</option>\n              <option value=\"Other\">Other</option>\n            </select>\n          </label>\n          <label id=\"fabricante_otro_wrapper\" class=\"conditional\">Other manufacturer\n            <input type=\"text\" id=\"fabricante_otro\" name=\"fabricante_otro\" placeholder=\"Write the aircraft manufacturer\" />\n          </label>\n          <label>Aircraft model\n            <select id=\"model\" name=\"model\" required disabled>\n              <option value=\"\">Select a manufacturer first</option>\n            </select>\n          </label>\n          <label id=\"modelo_otro_wrapper\" class=\"conditional\">Other model\n            <input type=\"text\" id=\"modelo_otro\" name=\"modelo_otro\" placeholder=\"Write the aircraft model\" />\n          </label>\n          <label>Registration<input type=\"text\" name=\"matricula\" required placeholder=\"Example: EC-XXX\" /></label>\n          <label>Project type\n            <select name=\"tipo_solicitud\" required>\n              <option value=\"\">Select request type</option>\n              <option value=\"nuevo_proyecto\">New project</option>\n              <option value=\"existing_modification\">Modification to an existing project</option>\n            </select>\n          </label>\n          <label class=\"full\">Modification / request description\n            <textarea name=\"descripcion_modificacion\" required placeholder=\"Describe the requested modification or project scope with as much detail as possible.\"></textarea>\n            <div class=\"hint\">Include installation intent, cabin area, affected systems, available references or any constraints already known.</div>\n          </label>\n        </div>\n      </section>\n      <div class=\"footer\">\n        <p>By submitting this form, your request will be registered for internal intake. A member of the DOA management team will review the information and contact you if more detail is required.</p>\n        <button type=\"submit\">Submit request</button>\n      </div>\n    </form>\n  </div>\n  <script>\n    window.modelosPorFabricante = ${JSON.stringify(modelosPorFabricante)};\n    window.renderModelos = function(manufacturer) {\n      const modeloSelect = document.getElementById('model');\n      const fabricanteOtroWrapper = document.getElementById('fabricante_otro_wrapper');\n      const fabricanteOtroInput = document.getElementById('fabricante_otro');\n      const modeloOtroWrapper = document.getElementById('modelo_otro_wrapper');\n      const modeloOtroInput = document.getElementById('modelo_otro');\n      fabricanteOtroWrapper.classList.toggle('show', manufacturer === 'Other');\n      fabricanteOtroInput.required = manufacturer === 'Other';\n      if (manufacturer !== 'Other') fabricanteOtroInput.value = '';\n      modeloSelect.innerHTML = '';\n      if (manufacturer === 'Other') {\n        modeloSelect.disabled = true;\n        modeloSelect.required = false;\n        modeloSelect.innerHTML = '<option value=\"\">Model written below</option>';\n        modeloOtroWrapper.classList.add('show');\n        modeloOtroInput.required = true;\n        return;\n      }\n      const models = window.modelosPorFabricante[manufacturer] || [];\n      modeloOtroWrapper.classList.remove('show');\n      modeloOtroInput.required = false;\n      modeloOtroInput.value = '';\n      modeloSelect.required = true;\n      if (!models.length) {\n        modeloSelect.disabled = true;\n        modeloSelect.innerHTML = '<option value=\"\">Select a manufacturer first</option>';\n        return;\n      }\n      modeloSelect.disabled = false;\n      modeloSelect.innerHTML = '<option value=\"\">Select an aircraft model</option>';\n      for (const model of models) {\n        const option = document.createElement('option');\n        option.value = model;\n        option.textContent = model;\n        modeloSelect.appendChild(option);\n      }\n      const otherOption = document.createElement('option');\n      otherOption.value = 'Other';\n      otherOption.textContent = 'Other';\n      modeloSelect.appendChild(otherOption);\n      modeloSelect.onchange = function() {\n        const isOtherModel = this.value === 'Other';\n        modeloOtroWrapper.classList.toggle('show', isOtherModel);\n        modeloOtroInput.required = isOtherModel;\n        if (!isOtherModel) modeloOtroInput.value = '';\n      };\n    };\n    document.getElementById('doaClientForm').action = window.location.href.replace(/doa-form-client\\\\/?$/, 'doa-form-client-submit');\n  </script>\n</body>\n</html>`;\nreturn { json: { html } };",
        "mode": "runOnceForEachItem"
      }
    },
    {
      "id": "respond_form_html",
      "name": "Responder Form",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        180
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      }
    },
    {
      "id": "webhook_form_post",
      "name": "Recibir Form Client",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        480
      ],
      "parameters": {
        "path": "doa-form-client-submit",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "prepare_payloads",
      "name": "Prepare Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        480
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body || $json;\nconst clean = (value) => {\n  const text = (value ?? '').toString().trim();\n  return text || null;\n};\nconst required = (value, label) => {\n  const text = (value ?? '').toString().trim();\n  if (!text) throw new Error(`Missing required field: ${label}`);\n  return text;\n};\nconst client = {\n  name: required(body.client_name, 'client_name'),\n  vat_tax_id: clean(body.cliente_vat_tax_id),\n  country: required(body.cliente_pais, 'cliente_pais'),\n  city: clean(body.cliente_ciudad),\n  address: clean(body.cliente_direccion),\n  phone: clean(body.cliente_telefono),\n  website: clean(body.cliente_web),\n  is_active: true,\n  notes: null,\n};\nconst manufacturer = body.manufacturer === 'Other'\n  ? required(body.fabricante_otro, 'fabricante_otro')\n  : required(body.manufacturer, 'manufacturer');\nconst model = body.manufacturer === 'Other' || body.model === 'Other'\n  ? required(body.modelo_otro, 'modelo_otro')\n  : required(body.model, 'model');\nconst contacto = {\n  name: required(body.contacto_nombre, 'contacto_nombre'),\n  last_name: clean(body.contacto_apellidos),\n  email: required(body.contacto_email, 'contacto_email'),\n  phone: clean(body.contacto_telefono),\n  job_title: clean(body.contacto_cargo),\n  is_primary: true,\n  is_active: true,\n};\nconst intake = {\n  empresa: client.name,\n  sender: contacto.email,\n  subject: `Form website DOA - ${client.name} - ${model}`,\n  original_body: [\n    `Tipo de solicitud: ${required(body.tipo_solicitud, 'tipo_solicitud')}`,\n    `Manufacturer: ${manufacturer}`,\n    `Model: ${model}`,\n    `Matricula: ${required(body.matricula, 'matricula')}`,\n    `Description: ${required(body.descripcion_modificacion, 'descripcion_modificacion')}`,\n    '',\n    `Empresa: ${client.name}`,\n    `Country: ${client.country}`,\n    `City: ${client.city || ''}`,\n    `Address: ${client.direction || ''}`,\n    `Phone empresa: ${client.phone || ''}`,\n    `Web: ${client.website || ''}`,\n    '',\n    `Contacto: ${contacto.name} ${contacto.last_name || ''}`.trim(),\n    `Email contacto: ${contacto.email}`,\n    `Phone contacto: ${contacto.phone || ''}`,\n    `Cargo: ${contacto.job_title || ''}`,\n  ].join('\\n'),\n  classification: body.tipo_solicitud === 'existing_modification' ? 'Client solicita modificacion a project existente' : 'Client solicita project new',\n  ai_response: '',\n};\nreturn { json: { client, contacto, intake } };"
      }
    },
    {
      "id": "create_company",
      "name": "Crear Empresa",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        760,
        480
      ],
      "parameters": {
        "tableId": "doa_clients",
        "dataToSend": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "name",
              "value": "={{ $json.client.name }}"
            },
            {
              "column": "vat_tax_id",
              "value": "={{ $json.client.vat_tax_id }}"
            },
            {
              "column": "country",
              "value": "={{ $json.client.country }}"
            },
            {
              "column": "city",
              "value": "={{ $json.client.city }}"
            },
            {
              "column": "address",
              "value": "={{ $json.client.direction }}"
            },
            {
              "column": "phone",
              "value": "={{ $json.client.phone }}"
            },
            {
              "column": "website",
              "value": "={{ $json.client.website }}"
            },
            {
              "column": "active",
              "value": "={{ $json.client.is_active }}"
            },
            {
              "column": "notes",
              "value": "={{ $json.client.notes }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "H1ZHvBDstWZ1K6KS",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "prepare_contact",
      "name": "Prepare Contacto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        480
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const createdClient = $json || {};\nconst payload = $('Prepare Payloads').item.json || {};\nconst client = (createdClient.id ? createdClient : (createdClient.data && createdClient.data[0]) ? createdClient.data[0] : null) || createdClient;\nif (!client.id) throw new Error('No se pudo recuperar el id del client creado.');\nreturn {\n  json: {\n    contacto: {\n      client_id: client.id,\n      name: payload.contacto.name,\n      last_name: payload.contacto.last_name,\n      email: payload.contacto.email,\n      phone: payload.contacto.phone,\n      job_title: payload.contacto.job_title,\n      is_primary: true,\n      is_active: true,\n    },\n    intake: payload.intake,\n    client: client,\n  },\n};"
      }
    },
    {
      "id": "create_contact",
      "name": "Crear Contacto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1240,
        480
      ],
      "parameters": {
        "tableId": "doa_client_contacts",
        "dataToSend": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "client_id",
              "value": "={{ $json.contacto.client_id }}"
            },
            {
              "column": "name",
              "value": "={{ $json.contacto.name }}"
            },
            {
              "column": "last_name",
              "value": "={{ $json.contacto.last_name }}"
            },
            {
              "column": "email",
              "value": "={{ $json.contacto.email }}"
            },
            {
              "column": "phone",
              "value": "={{ $json.contacto.phone }}"
            },
            {
              "column": "job_title",
              "value": "={{ $json.contacto.job_title }}"
            },
            {
              "column": "is_primary",
              "value": "={{ $json.contacto.is_primary }}"
            },
            {
              "column": "active",
              "value": "={{ $json.contacto.is_active }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "H1ZHvBDstWZ1K6KS",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "create_intake",
      "name": "Crear Intake",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1480,
        480
      ],
      "parameters": {
        "tableId": "doa_incoming_requests",
        "dataToSend": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "subject",
              "value": "={{ $json.intake.subject }}"
            },
            {
              "column": "sender",
              "value": "={{ $json.intake.sender }}"
            },
            {
              "column": "original_body",
              "value": "={{ $json.intake.body_original }}"
            },
            {
              "column": "classification",
              "value": "={{ $json.intake.classification }}"
            },
            {
              "column": "ai_response",
              "value": "={{ $json.intake.ai_response }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "H1ZHvBDstWZ1K6KS",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "prepare_confirmation",
      "name": "Prepare Confirmacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        480
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const client = $('Prepare Contacto').item.json.client || {};\nconst intake = $('Prepare Contacto').item.json.intake || {};\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>Request received</title>\n  <style>\n    body { margin:0; min-height:100vh; display:grid; place-items:center; padding:24px; background:linear-gradient(135deg,#071521,#143046); font-family:Georgia,'Times New Roman',serif; }\n    .card { width:min(720px,100%); background:rgba(255,255,255,0.96); border-radius:24px; padding:34px; box-shadow:0 24px 70px rgba(0,0,0,0.28); color:#10202d; }\n    h1 { margin:0 0 12px; font-size:36px; }\n    p { color:#4f6170; line-height:1.6; }\n    dl { display:grid; grid-template-columns: 190px 1fr; gap:10px 14px; margin-top:24px; }\n    dt { font-weight:700; }\n    dd { margin:0; }\n    @medium (max-width:640px){ dl { grid-template-columns:1fr; } }\n  </style>\n</head>\n<body>\n  <section class=\"card\">\n    <h1>Request received</h1>\n    <p>Your project request has been registered successfully. The DOA management team will review the information and contact you if additional detail is required.</p>\n    <dl>\n      <dt>Company</dt><dd>${client.name || ''}</dd>\n      <dt>Aircraft / Request</dt><dd>${intake.subject || ''}</dd>\n      <dt>Classification</dt><dd>${intake.classification || ''}</dd>\n    </dl>\n  </section>\n</body>\n</html>`;\nreturn { json: { html } };"
      }
    },
    {
      "id": "respond_confirmation",
      "name": "Responder Confirmacion",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1960,
        480
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Form Client DOA": {
      "main": [
        [
          {
            "node": "Construir Form HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Form HTML": {
      "main": [
        [
          {
            "node": "Responder Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recibir Form Client": {
      "main": [
        [
          {
            "node": "Prepare Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payloads": {
      "main": [
        [
          {
            "node": "Crear Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Empresa": {
      "main": [
        [
          {
            "node": "Prepare Contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Contacto": {
      "main": [
        [
          {
            "node": "Crear Contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Contacto": {
      "main": [
        [
          {
            "node": "Crear Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Intake": {
      "main": [
        [
          {
            "node": "Prepare Confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Confirmacion": {
      "main": [
        [
          {
            "node": "Responder Confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "ba1f1dd1-60f3-4ee3-a141-083a76031999",
  "activeVersionId": null,
  "versionCounter": 28,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-14T18:44:05.720Z",
      "createdAt": "2026-03-14T18:44:05.720Z",
      "role": "workflow:owner",
      "workflowId": "tchvIu8o8OOonSX5",
      "projectId": "Xt0280WfIpw1lD6W",
      "project": {
        "updatedAt": "2025-03-27T09:22:13.302Z",
        "createdAt": "2025-03-27T09:14:41.486Z",
        "id": "Xt0280WfIpw1lD6W",
        "name": "Jesus Andres Arevalo Torres <jesus.arevalotorres@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1f2bf491-b33b-4a5b-986e-9b7841cecb8d",
        "projectRelations": [
          {
            "updatedAt": "2025-03-27T09:14:41.486Z",
            "createdAt": "2025-03-27T09:14:41.486Z",
            "userId": "1f2bf491-b33b-4a5b-986e-9b7841cecb8d",
            "projectId": "Xt0280WfIpw1lD6W",
            "user": {
              "updatedAt": "2026-04-02T10:10:16.896Z",
              "createdAt": "2025-03-27T09:14:40.894Z",
              "id": "1f2bf491-b33b-4a5b-986e-9b7841cecb8d",
              "email": "jesus.arevalotorres@gmail.com",
              "firstName": "Jesus Andres",
              "lastName": "Arevalo Torres",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-03-27T09:22:28.912Z",
                "personalization_survey_n8n_version": "1.84.1",
                "automationGoalDevops": [
                  "reporting"
                ],
                "companyType": "education",
                "role": "engineering"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "g7j5KfgJVN6xCZ4v",
                "userActivatedAt": 1751604523816,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763884915866
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-02",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}