01. Soporte_App/n8n-workflows/DOA-Formulario-Cliente-Interactivo.json
{
  "updatedAt": "2026-03-29T10:59:37.296Z",
  "createdAt": "2026-03-15T10:49:28.544Z",
  "id": "rbFKi9O5FFvXz0XL",
  "name": "DOA-Form-Client-Interactivo",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "formTitle": "DOA Interactive Client Intake",
        "formDescription": "Complete the initial request details. If key project information is missing, we will ask a few follow-up questions before submitting your intake.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Company name",
              "placeholder": "Legal or commercial company name",
              "requiredField": true
            },
            {
              "fieldLabel": "VAT / Tax ID",
              "placeholder": "Optional tax identifier"
            },
            {
              "fieldLabel": "Country",
              "placeholder": "Country",
              "requiredField": true
            },
            {
              "fieldLabel": "Contact first name",
              "placeholder": "Contact first name",
              "requiredField": true
            },
            {
              "fieldLabel": "Contact last name",
              "placeholder": "Contact last name"
            },
            {
              "fieldLabel": "Contact email",
              "fieldType": "email",
              "placeholder": "name@company.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Contact phone",
              "placeholder": "Direct phone"
            },
            {
              "fieldLabel": "Aircraft manufacturer",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Airbus"
                  },
                  {
                    "option": "ATR"
                  },
                  {
                    "option": "Boeing"
                  },
                  {
                    "option": "Cessna"
                  },
                  {
                    "option": "Other"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Aircraft model",
              "placeholder": "Model or family if known",
              "requiredField": true
            },
            {
              "fieldLabel": "Registration",
              "placeholder": "Example: EC-XXX"
            },
            {
              "fieldLabel": "Project type",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "New project"
                  },
                  {
                    "option": "Modification to an existing project"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Existing project code",
              "placeholder": "Required if this is a modification to an existing project"
            },
            {
              "fieldLabel": "Request description",
              "fieldType": "textarea",
              "placeholder": "Describe the requested modification or project scope with as much detail as possible.",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "buttonLabel": "Continue"
        }
      },
      "id": "form_trigger_interactive",
      "name": "Form Client DOA Interactivo",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        240,
        304
      ],
      "webhookId": "e96e8792-9a73-4b62-b36e-6db64b3da384",
      "disabled": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "initial_summary",
              "type": "string",
              "value": "=Company: {{ $json['Company name'] }}\nContact: {{ $json['Contact first name'] }} {{ $json['Contact last name'] || '' }}\nEmail: {{ $json['Contact email'] }}\nManufacturer: {{ $json['Aircraft manufacturer'] }}\nModel: {{ $json['Aircraft model'] }}\nRegistration: {{ $json['Registration'] || '' }}\nProject type: {{ $json['Project type'] }}\nExisting project code: {{ $json['Existing project code'] || '' }}\nDescription: {{ $json['Request description'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set_initial_summary",
      "name": "Resumen Inicial",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Initial DOA intake:\n{{ $json.initial_summary }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=You are assisting a DOA management intake process. Read the initial intake and decide whether any clarification questions are needed before the request can be routed internally.\n\nRules:\n- Ask at most 2 follow-up questions.\n- Ask only if the information is genuinely incomplete or ambiguous.\n- Do not ask for data already provided.\n- Prefer project-critical clarifications such as intended scope, aircraft configuration context, target timeline, operator context, or missing reference information.\n- If project type is modification to an existing project and no existing project code is present, include a question asking for that code.\n- Questions must be clear for an external client.\n- Output must be only the structured list required by the parser."
            }
          ]
        }
      },
      "id": "followup_llm",
      "name": "Preguntas de Seguimiento DOA",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        704,
        304
      ]
    },
    {
      "parameters": {
        "model": "o3-mini",
        "options": {}
      },
      "id": "followup_model",
      "name": "OpenAI Chat Model Interactive",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        640,
        480
      ],
      "credentials": {
        "openAiApi": {
          "id": "vAmNhoKH5n8YHlp6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"questions\": [\n    \"Please provide the existing DOA project code.\",\n    \"What is the target aircraft configuration or serial applicability for this request?\"\n  ]\n}"
      },
      "id": "followup_parser",
      "name": "Structured Output Parser Interactive",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        864,
        480
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const original = $('Form Client DOA Interactivo').item.json;\nconst output = $json.output || {};\nconst aiQuestions = Array.isArray(output.questions) ? output.questions.map((q) => (q || '').toString().trim()).filter(Boolean) : [];\nconst questions = [];\nif ((original['Project type'] || '') === 'Modification to an existing project' && !(original['Existing project code'] || '').toString().trim()) {\n  questions.push('Please provide the existing DOA project code for the project you want to modify.');\n}\nfor (const question of aiQuestions) {\n  if (!questions.includes(question)) questions.push(question);\n}\nreturn { json: { ...$json, questions, has_questions: questions.length > 0, follow_up_text: '' } };"
      },
      "id": "normalize_questions",
      "name": "Normalizar Preguntas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.has_questions }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if_questions",
      "name": "Hay Preguntas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        304
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "questions",
        "options": {}
      },
      "id": "split_questions",
      "name": "Separar Preguntas",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1424,
        192
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop_questions",
      "name": "Loop Preguntas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1632,
        192
      ]
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "={{ $json.questions }}",
              "fieldType": "textarea",
              "placeholder": "Your answer",
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "Additional DOA details required",
          "formDescription": "Please answer this follow-up question so we can register your request correctly.",
          "buttonLabel": "Continue"
        }
      },
      "id": "ask_question_form",
      "name": "Hacer Pregunta",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1824,
        272
      ],
      "webhookId": "f83edc4b-10b4-47b1-9e2f-5efa8e46f40d"
    },
    {
      "parameters": {
        "jsCode": "const lines = [];\nfor (const item of $input.all()) {\n  const json = item.json || {};\n  const keys = Object.keys(json).filter((key) => key !== 'questions');\n  const answerKey = keys[0];\n  const question = json.questions || '';\n  const answer = answerKey ? json[answerKey] : '';\n  if (question && answer) {\n    lines.push(`Question: ${question}`);\n    lines.push(`Answer: ${answer}`);\n  }\n}\nreturn [{ json: { follow_up_text: lines.join('\\n') } }];"
      },
      "id": "collect_followups",
      "name": "Consolidar Seguimiento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        80
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const original = $('Form Client DOA Interactivo').item.json;\nconst clean = (value) => {\n  const text = (value ?? '').toString().trim();\n  return text || null;\n};\nconst required = (value, label) => {\n  const text = (value ?? '').toString().trim();\n  if (!text) throw new Error(`Missing required field: ${label}`);\n  return text;\n};\nconst companyName = required(original['Company name'], 'Company name');\nconst country = required(original['Country'], 'Country');\nconst contactFirstName = required(original['Contact first name'], 'Contact first name');\nconst contactEmail = required(original['Contact email'], 'Contact email');\nconst manufacturer = required(original['Aircraft manufacturer'], 'Aircraft manufacturer');\nconst model = required(original['Aircraft model'], 'Aircraft model');\nconst projectType = required(original['Project type'], 'Project type');\nconst description = required(original['Request description'], 'Request description');\nconst followUpText = clean($json.follow_up_text);\nconst existingProjectCode = clean(original['Existing project code']);\nconst client = {\n  name: companyName,\n  vat_tax_id: clean(original['VAT / Tax ID']),\n  country: country,\n  city: null,\n  address: null,\n  phone: clean(original['Contact phone']),\n  website: null,\n  is_active: true,\n  notes: null,\n};\nconst contacto = {\n  name: contactFirstName,\n  last_name: clean(original['Contact last name']),\n  email: contactEmail,\n  phone: clean(original['Contact phone']),\n  job_title: null,\n  is_primary: true,\n  is_active: true,\n};\nconst classification = projectType === 'Modification to an existing project'\n  ? 'Client solicita modificacion a project existente'\n  : 'Client solicita project new';\nconst bodyLines = [\n  `Tipo de solicitud: ${projectType}`,\n  `Manufacturer: ${manufacturer}`,\n  `Model: ${model}`,\n  `Matricula: ${clean(original['Registration']) || ''}`,\n  `Codigo project existente: ${existingProjectCode || ''}`,\n  `Description: ${description}`,\n  '',\n  `Empresa: ${companyName}`,\n  `Country: ${country}`,\n  `Contacto: ${contactFirstName} ${clean(original['Contact last name']) || ''}`.trim(),\n  `Email contacto: ${contactEmail}`,\n];\nif (followUpText) {\n  bodyLines.push('');\n  bodyLines.push('Preguntas de seguimiento:');\n  bodyLines.push(followUpText);\n}\nconst intake = {\n  sender: contactEmail,\n  subject: `Form interactivo DOA - ${companyName} - ${model}`,\n  original_body: bodyLines.join('\\n'),\n  classification,\n  ai_response: '',\n};\nreturn { json: { client, contacto, intake } };"
      },
      "id": "prepare_payload_interactive",
      "name": "Prepare Payload Interactivo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        304
      ]
    },
    {
      "parameters": {
        "tableId": "doa_clients"
      },
      "id": "create_company_interactive",
      "name": "Crear Empresa Interactivo",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2320,
        304
      ],
      "credentials": {
        "supabaseApi": {
          "id": "H1ZHvBDstWZ1K6KS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const createdClient = $json || {};\nconst payload = $('Prepare Payload Interactivo').item.json || {};\nconst client = (createdClient.id ? createdClient : (createdClient.data && createdClient.data[0]) ? createdClient.data[0] : null) || createdClient;\nif (!client.id) throw new Error('No se pudo recuperar el id del client creado.');\nreturn {\n  json: {\n    contacto: {\n      client_id: client.id,\n      name: payload.contacto.name,\n      last_name: payload.contacto.last_name,\n      email: payload.contacto.email,\n      phone: payload.contacto.phone,\n      job_title: payload.contacto.job_title,\n      is_primary: true,\n      is_active: true,\n    },\n    intake: payload.intake,\n    client,\n  },\n};"
      },
      "id": "prepare_contact_interactive",
      "name": "Prepare Contacto Interactivo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        304
      ]
    },
    {
      "parameters": {
        "tableId": "doa_client_contacts"
      },
      "id": "create_contact_interactive",
      "name": "Crear Contacto Interactivo",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2800,
        304
      ],
      "credentials": {
        "supabaseApi": {
          "id": "H1ZHvBDstWZ1K6KS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "doa_incoming_requests"
      },
      "id": "create_intake_interactive",
      "name": "Crear Intake Interactivo",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3040,
        304
      ],
      "credentials": {
        "supabaseApi": {
          "id": "H1ZHvBDstWZ1K6KS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Request received",
        "completionMessage": "Your interactive DOA intake has been submitted successfully. Our management team will review the information and contact you if more detail is required.",
        "options": {}
      },
      "id": "completion_interactive",
      "name": "Finalizacion Interactiva",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        3280,
        304
      ],
      "webhookId": "3ace7a07-16a3-4bfe-af03-c8ccbabb0b44"
    }
  ],
  "connections": {
    "Form Client DOA Interactivo": {
      "main": [
        [
          {
            "node": "Resumen Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen Inicial": {
      "main": [
        [
          {
            "node": "Preguntas de Seguimiento DOA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model Interactive": {
      "ai_languageModel": [
        [
          {
            "node": "Preguntas de Seguimiento DOA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser Interactive": {
      "ai_outputParser": [
        [
          {
            "node": "Preguntas de Seguimiento DOA",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Preguntas de Seguimiento DOA": {
      "main": [
        [
          {
            "node": "Normalizar Preguntas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Preguntas": {
      "main": [
        [
          {
            "node": "Hay Preguntas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Preguntas": {
      "main": [
        [
          {
            "node": "Separar Preguntas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Payload Interactivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Preguntas": {
      "main": [
        [
          {
            "node": "Loop Preguntas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Preguntas": {
      "main": [
        [
          {
            "node": "Consolidar Seguimiento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hacer Pregunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hacer Pregunta": {
      "main": [
        [
          {
            "node": "Loop Preguntas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar Seguimiento": {
      "main": [
        [
          {
            "node": "Prepare Payload Interactivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payload Interactivo": {
      "main": [
        [
          {
            "node": "Crear Empresa Interactivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Empresa Interactivo": {
      "main": [
        [
          {
            "node": "Prepare Contacto Interactivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Contacto Interactivo": {
      "main": [
        [
          {
            "node": "Crear Contacto Interactivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Contacto Interactivo": {
      "main": [
        [
          {
            "node": "Crear Intake Interactivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Intake Interactivo": {
      "main": [
        [
          {
            "node": "Finalizacion Interactiva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9a48c4f4-25e6-451d-a328-3cc379a8423c",
  "activeVersionId": null,
  "versionCounter": 9,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-15T10:49:28.544Z",
      "createdAt": "2026-03-15T10:49:28.544Z",
      "role": "workflow:owner",
      "workflowId": "rbFKi9O5FFvXz0XL",
      "projectId": "Xt0280WfIpw1lD6W",
      "project": {
        "updatedAt": "2025-03-27T09:22:13.302Z",
        "createdAt": "2025-03-27T09:14:41.486Z",
        "id": "Xt0280WfIpw1lD6W",
        "name": "Jesus Andres Arevalo Torres <jesus.arevalotorres@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1f2bf491-b33b-4a5b-986e-9b7841cecb8d",
        "projectRelations": [
          {
            "updatedAt": "2025-03-27T09:14:41.486Z",
            "createdAt": "2025-03-27T09:14:41.486Z",
            "userId": "1f2bf491-b33b-4a5b-986e-9b7841cecb8d",
            "projectId": "Xt0280WfIpw1lD6W",
            "user": {
              "updatedAt": "2026-04-02T10:10:16.896Z",
              "createdAt": "2025-03-27T09:14:40.894Z",
              "id": "1f2bf491-b33b-4a5b-986e-9b7841cecb8d",
              "email": "jesus.arevalotorres@gmail.com",
              "firstName": "Jesus Andres",
              "lastName": "Arevalo Torres",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-03-27T09:22:28.912Z",
                "personalization_survey_n8n_version": "1.84.1",
                "automationGoalDevops": [
                  "reporting"
                ],
                "companyType": "education",
                "role": "engineering"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "g7j5KfgJVN6xCZ4v",
                "userActivatedAt": 1751604523816,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763884915866
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-02",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}